<table mat-table [dataSource]="dataSource$ | async | filter: searchValue" [trackBy]="trackIndexId" class="mat-elevation-z8">
  <ng-container *ngFor="let key of obj.keys(columnsHeaders)" [matColumnDef]="key">
    <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[key] }}</th>
    <td mat-cell *matCellDef="let data">
      <ng-container *ngIf="key !== 'url'; else other">
        {{ data[key] }}
      </ng-container>
      <ng-template #other>
        <a [routerLink]="[routeUrl, getId(data.url)]">See details</a>
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="obj.keys(columnsHeaders)"></tr>
  <tr mat-row *matRowDef="let row; columns: obj.keys(columnsHeaders);"></tr>
</table>
