<mat-card *ngIf="person$ | async as person">
  <mat-card-header>
    <mat-card-title>{{ person.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let key of obj.keys(person)">
      <p *ngIf="key !== 'name'">{{ labels[key] }}: {{ person[key] }}</p>
    </ng-container>
    <p>BMI: {{ 703 * (person.mass / (person.height * person.height)) }}</p>
  </mat-card-content>
</mat-card>
