<mat-card *ngIf="starship$ | async as starship">
  <mat-card-header>
    <mat-card-title>{{ starship.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let key of obj.keys(starship)">
      <p *ngIf="key !== 'name'">{{ labels[key] }}: {{ starship[key] }}</p>
    </ng-container>
    <p>On Board Percent: {{ starship.crew / (starship.crew + starship.passengers) | percent }}</p>
  </mat-card-content>
</mat-card>
