<mat-card *ngIf="vehicle$ | async as vehicle">
  <mat-card-header>
    <mat-card-title>{{ vehicle.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let key of obj.keys(vehicle)">
      <p *ngIf="key !== 'name'">{{ labels[key] }}: {{ vehicle[key] }}</p>
    </ng-container>
    <p>Price per Unit Cargo: {{ vehicle.costInCredits / vehicle.cargoCapacity | currency }}</p>
  </mat-card-content>
</mat-card>
