<div class="header-bar">
  <p>Vehicles</p>
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="searchTerm" type="text"/>
    </mat-form-field>
  </form>
</div>

<app-table
  [dataSource$]="vehicles$"
  [searchValue]="searchForm.controls.searchTerm.value"
  [columnsHeaders]="columnsHeaders"
  routeUrl="vehicle-details">
</app-table>
