form {
  text-align: center;
  position: relative;
  top: 5vh;
}

mat-form-field {
  width: 300px;
}

mat-card {
  width: 900px;
  position: relative;
  top:10vh;
}

div {
  display: flex;
  justify-content: center;
}

pre {
  overflow: auto;
  max-height: 500px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
