<form [formGroup]="searchForm" class="search-bar">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput formControlName="searchTerm" type="text"/>
    <button mat-button matSuffix color="primary" (click)="search()">
      <mat-icon color="primary">search</mat-icon>
    </button>
  </mat-form-field>
</form>

<div>
  <mat-card *ngIf="results$ | async as results">
    <mat-card-header>
      <mat-card-title>Results</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{ jsonIt(results) }}</pre>
    </mat-card-content>
  </mat-card>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>


