<app-icon-button icon="camera_roll" label="FILMS" href="/films"></app-icon-button>
<app-icon-button icon="person" label="CHARACTERS" href="/characters"></app-icon-button>
<app-icon-button icon="flight" label="STARSHIPS" href="/starships"></app-icon-button>
<!-- <app-icon-button icon="airport_shuttle" label="VEHICLES" href="/people"></app-icon-button> -->
<app-icon-button icon="airport_shuttle" label="VEHICLES" href="/automobile"></app-icon-button>
<app-icon-button icon="content_paste_search" label="SEARCH DB" href="/search"></app-icon-button>
<mat-spinner *ngIf="loading"></mat-spinner>
<router-outlet></router-outlet>
