<div class="header-bar">
  <p>Films</p>
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="searchTerm" type="text"/>
    </mat-form-field>
  </form>
</div>

<table mat-table [dataSource]="films$ | async" [trackBy]="trackEpisodeId" class="mat-elevation-z8">
  <ng-container *ngFor="let key of obj.keys(columnsHeaders)" [matColumnDef]="key">
    <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[key] }}</th>
    <td mat-cell *matCellDef="let film">
      <ng-container *ngIf="key === 'title' || key === 'releaseDate'; else other">
        {{ film[key] }}
      </ng-container>
      <ng-template #other>
        <a [routerLink]="[routes[key], film[key][0]]">See details</a>
        <span>|</span>
        <a [routerLink]="[routes[key], film[key][1]]">See details</a>
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="obj.keys(columnsHeaders)"></tr>
  <tr mat-row *matRowDef="let row; columns: obj.keys(columnsHeaders);"></tr>
</table>
